<div id="profile-div">
    <form id="profile-form" method="post" action="action.php" enctype="multipart/form-data">
        <img src="../Upload/Users/{{user.image}}" width="100px" height="100px" style="border-radius:50px;" /><br>
        <input hidden name="old_image" value="{{user.image}}">
        <input class="profile" type="file" id ="new_user_image" name="newimage" ><br>
        <input class="profile" type="text" id="user_name" value="{{user.user_name}}" name="user_name" /><br>
        <input  hidden name="old_number" value="{{user.mobile_no}}"/>
        <input class="profile" type="text" id="user_phone" value="{{user.mobile_no}}" name="user_phone" /><br>
        <input class="profile" type="text" id="user_address" value="{{user.address}}" name="user_address" /><br>
        <input  hidden name="old_email" value="{{user.email}}"/>
        <input class="profile" type="text" id="user_email" value="{{user.email}}" name="user_email" /><br>
        <input class="profile" type="submit" id="update_user" name="updateprofile" value="save"/>
        </form>
</div>
<style>
    .profile{
        width:400px;
        word-wrap: break-word;
        height: 40px;
        border-radius: 20px;
        margin-top: 5px;
        border-color: #990033;

    }
    #profile-div{
        justify-items: center;
        position: relative;
        left:30%;
    }
    .error{
        color:red;
    }
</style>
<script src="{{ baseurl }}js/profile.js"></script>